<h1>Welcome to Blocmetrics</h1>

<% if current_user %>
  <p>
      <%= link_to "Registered Applications", registered_applications_path, class: 'btn btn-primary' %>
      <%= link_to "Register New Application", new_registered_application_path, class: 'btn btn-success' %>
<% else %>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-success' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-success' %>
  </p>
<% end %>
